<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title>ContactPoint softphone: making call to %number%</title>
		<style>
		    * { font-family: Arial;font-size:11px; }
		    a { color:gray;text-decoration:underline; }
		    a:visited { color:gray; }
		</style>
	</head>
	<body>
        <center>
            <img src="/contactpoint.png" alt="" /><br />
            Calling <strong>%number%</strong><br /><br />
            <a href="javascript:window.close()">Close</a>
        </center>
	</body>
</html>